/********************************/
/*          index.html          */
/*           - main -           */
/********************************/

/* Hero section */
.hero{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    .main__content__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        flex-grow: 1;
        padding: 0.5rem;
        width: 24rem;
        div{
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 38rem;
            padding: 0.5;
            *{
                padding: 0.5rem;
                margin: 0.3rem;
            }
            p{
                font-size: 2rem;
            }
            a{
                color: white;
                text-decoration: none;
                text-align: center;
                font-size: 1.5rem;
                width: 18rem;
                height: 3rem;
                border-radius: 10px;
                background-color: #FF5733;
                &:hover{
                    font-size: 1.55rem;
                    width: 18.1rem;
                    height: 3.2rem;
                }
            }
            h1{
                font-size: 3.5rem;
            }
        }
    }
    .main__image{
        flex-grow: 0;
        height: 800px;
        overflow: hidden;
        margin-left: auto;
        border-radius: 20% 0% 0% 20%;
        img{
            height: 1200px;
            width: 1000px;
            margin: -360px 0px 0px -150px;
            object-fit: cover;
        } 
    }
}




/*****************/
/* logos section */
/*****************/

.logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    p{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem;
    }
    .logos__ref{
        img{
            height: 4rem;
            margin-inline: 2rem;   
        }
    } 
}

/*******************/
/* Project section */
/*******************/
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    .projects__presentation{
        display: flex;
        justify-content: space-around;
        margin-top: 0.5rem;
        div{
            width: 50%;
            display: flex;
            justify-content: center;
            h2{
                width: 85%;
                font-size: xxx-large;
                margin: 1rem;
            }
            p{
                width: 85%;
                font-size:x-large;
                margin-bottom: 1rem;
            }
        }
    }
    .projects__set{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content min-content;
        grid-template-areas:"project__group      project__dele"
                            "project__movements  projects__expresions";
        padding: 0;
        div{
            width: 85%;
            margin: auto;
            margin-bottom: 2rem;
            *{
                margin-bottom: 1rem;
                font-size:x-large;
                text-decoration: none;
            }
        }
        .project__group img{
            width: 100%;
        }
        .project__movements img{
            width: 100%;
        }
        .project__dele img{
            width: 100%;
        }
        .project__expresions img{
            width: 100%;
        }
    } 
}

/***********************/
/* testimonies section */
/***********************/
.testimony{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-top: solid;
    border-bottom: solid;
    border-color: gray;
    .testimony__description{
        .testimony__description-title{
            font-size:larger;
            padding: 0.5rem;
        }
        .testimony__description-text{
            font-size:x-large; 
            font-weight: bold;
            padding: 0.5rem;
        }
    }
    .testimony__bloques{
        display: flex;
        overflow-x: scroll;
        .testimony__tiatula,
        .testimony__ue_madrid{
            display: flex;
            margin: 1rem;
        }
        .testimony__tiatula--imagen,
        .testimony__ue_madrid--imagen{
            width: 24rem;
            height: 22rem;
            overflow: hidden;
            position: relative;
        }
        .testimony__ue_madrid--picture{
            height: 100%;
        }
        .testimony__tiatula--picture{
            width: 22rem;
        }
        .testimony__tiatula--logo,
        .testimony__ue_madrid--logo{
            position:absolute;
            bottom: 5px;
            left: 5px;
            height: 3rem;
        }        
        .testimony__tiatula--descriptions,
        .testimony__ue_madrid--descriptions{
            display: flex;
            flex-direction: column;
            width: 35rem;
        }
        
        .testimony__tiatula--descriptions div,
        .testimony__ue_madrid--descriptions div{
            margin: 0.5rem;
        }
        
        .testimony__ue_madrid--descriptions div div,
        .testimony__tiatula--descriptions div div{
            margin-top: 1rem;
        }
        .stars_tiatula img,
        .stars_ue_madrid img{
            height: 3rem;
        }
        
        .testimony_divider{
            height: 0.2rem;
        }
        
        .testimony__tiatula--autor p,
        .testimony__ue_madrid--autor p{
            font-weight: bold;
            margin-inline: 0.5rem;
        }
        
        .testimony__tiatula--course p,
        .testimony__ue_madrid--course p{
            margin-inline: 0.5rem;
        }
    }
}

/***************/
/* CTA section */
/***************/
.cta{
    padding: 4rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cta__titulo{
        text-align: center;
        *{
            font-size: 6rem;
        }
    }
    .cta__description{
        font-size: 2rem;
        margin: 2rem;
    }
    .button_start{
        display: flex;
        margin: 2rem;
        a{
            color: white;
            text-decoration: none;
            text-align: center;
            font-size: 1.5rem;
            width: 22rem;
            border-radius: 5px;
            padding: 1rem;
            background-color: #FF5733;
        }
    }
}

/********************************/
/*        about_es.html         */
/*           - main -           */
/********************************/
.about__descriptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about__descriptions--presentation{        margin-inline: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .about__descriptions--presentation_text p{
            width: auto;
        }
    }
    div{
        margin-inline: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
        }
        div{
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            *{
                margin: 1rem;
            }
            h2{
                font-size: 2.3rem;
            }    
            p{
                font-size: 1.5rem;
            }
        }
        
    }
    .about__descriptions--goal_text p{
        width: auto;
    }
}

.about__carrer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 4rem;
    .about__carrer--title{
        display: flex;
        margin-inline: 15rem;
    }
    .about__carrer--images{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div{
            margin: 1rem;
        }
    }
    div div h2{
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;   
    }
}



/********************************/
/*      contacts_es.html        */
/*           - main -           */
/********************************/

.contact{
	width: 60rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    h1{
        margin-bottom: 2rem;
        text-align: left;
        font-size: 2.5rem;
    }
    div{
        display: flex;
        .contact__company{
            margin-right: 3rem;
            width: 20rem;
            display: flex;
            flex-direction: column;
            p{
                margin-bottom: 1rem;
            }
            h3{
                margin-bottom: 0.4rem;
            }
        }
        div form{
            display: flex;
            flex-direction: column;
            padding-left: 8rem;
            border-left: 2px solid gray;
            label{
                width: 30rem;
                margin-bottom: 0.4rem;
            }
            input{
                margin-bottom: 1rem;
            }
            input[type="telefono"],
            input[type="mensaje"],
            input[type="email"],
            input[type="text"]{
                height: 1.5rem;
            }
            textarea{
                height: 10rem;
            }
            input[type="submit"]{
                color: white;
                width: 8rem;
                padding: 0.5rem;
                font-size: 1.1rem;
                margin-left: auto;
                margin-top: 1rem;
                border-radius: 5px;
                background-color: #FF5733;
            }
        }
    }
}

/********************************/
/*        prices_es.html        */
/*           - main -           */
/********************************/

.prices{
    margin: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    .prices__title{
        text-align: center;
        font-size: 2.5rem;
        margin: 1rem;
    }
    
    .prices__descriptions{
        font-size: 1.5rem;
        width: 70%;
        margin: auto;
    }
    .prices__dele{
        border-radius: 20px;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 50%;
        padding: 2rem;
        background-color: rgb(206, 206, 206);
        tr td{
            font-size: 1.2rem;
            height: 40px;
            a{
                text-decoration: none; 
            }
        }
    }
    
    
    
}



/********************************/
/*   special_programs_es.html   */
/*           - main -           */
/********************************/
.special{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1rem;
    div{
        margin: 1rem;
        h1{
            font-size: 2.2rem;
        }
    }
    .special__description{
        font-size: larger;
        width: 80%;
    }
    .course__special{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem;
        div{
            width: 40rem;
            margin: 1rem;
            padding: 1rem;
            div{
                padding: 1rem;
                margin: 1rem;
                width: 46rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                *{
                    margin: 0.5rem;
                }
                h2{
                    font-size: 1.7rem;
                }
                p{
                    font-size: large;
                }
            }
        }
    }
}


/********************************/
/*       course_es.html       */
/*           - main -           */
/********************************/
.pesonalized,
.dele{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1rem;
    div{
        margin: 1rem;
        h1{
            font-size: 2rem;
        }
    }
}

.dele__description{
    font-size: larger;
    width: 80%;
}

.course__personalized,
.course__dele{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline: 1rem;
    div{
        width: 35rem;
        padding-inline: 0.5rem;
        div{
            padding: .1rem;
            margin: 0.5rem;
            width: 38rem;
            display: flex;
            align-items: center;
            *{
                margin: 1rem;
            }
            h2{
                font-size: 2rem;
            }
            p{
                font-size: large;
            }
        }
    }
}