
/* **************************** */
/* **************************** */
/*        Responsive 425px      */
/*            MOBILE            */
/* **************************** */
/* **************************** */

@media screen and (max-width: 426px){

    /********************************/
    /*        - General -           */
    /********************************/
    /*   Responsive css of Header   */
    // header{
    //     display: unset;
    //     flex-direction: column;
    // }
    // .header__logo a img{
    //     width: 10rem;
    // } 

    // .header__nav {
    //     margin: 0;
    //     padding: 0;
    // }
    // .header__nav ul{
    //     padding: 0rem;
    //     display: flex;
    //     flex-direction: column;
    // }

    // .header__nav ul li {
    //     text-align: center;
    //     margin: 0rem;
    //     width: auto;
    //     list-style-type: none;
    // }

    // .header__nav ul li a{
    //     padding: 0.5rem;
    //     margin: 0;
    //     font-size: 1rem;
    // }
    // .header__nav ul li a:hover{
    //     font-size: 1.1rem;
    // }

    // .header__language ul li a{
    //     font-size: .8rem;
    // }
    // .header__language ul li a:hover{
    //     font-size: .9rem;
    // }

    // .header__button__start a{
    //     display: none;
    // }

    footer{
        padding: 1rem 1rem;
        .footer__description{
            text-align: center;
        }
        .footer__nav{
            display: none;
        }
        .footer__last_line{
            padding: 0;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: min-content min-content;
            grid-template-areas:"last_line__soccial" "last_line__copyright";
            .footer__copyright{
                grid-area: last_line__copyright;
                text-align: center;
                font-size: small;
                padding: .5rem;
            }
            .footer__soccial{
                grid-area: last_line__soccial;
                margin: auto;
                display: flex;
                flex-direction: column;
                div{
                    width: 100%;
                }
            }
        }
    }


    /********************************/
    /*          index.html          */
    /*           - main -           */
    /********************************/

    /*Responsive css of hero section*/
    .hero{
        padding: 0.2rem;
        border-top: 1px dashed gray;
        .main__content__text{
            width: auto;
            padding: 0.1rem;
            div{
                width: auto;
                h1{
                    width: auto;
                    font-size: 1.4rem;
                    text-align:center;
                    padding: 0;
                }
                p{
                    padding: 0;
                    font-size: 1.2rem;
                    text-align: center;
                }
                a{
                    margin:1rem;
                    align-self: center;
                    font-size: 1.3rem;
                    width: auto;
                    padding: auto;
                }
            }
        }
        .main__image{
            flex-grow:unset;
            height: 220px;
            width: auto;
            overflow: hidden;
            margin-left:unset;
            margin: auto;
            border-radius: 20px;
            img{
                height:unset;
                width: 360px;
                margin:auto;
                margin-top: -200px;
                object-fit: cover;
            }
        }
    }
        
    /*Responsive css of logo section*/
    .logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        p{
            font-size: 1.2rem;
            text-align: center;
            font-weight: bold;
            padding-inline: 1rem;
        }
        .logos__ref{
            display: flex;
            flex-direction: column;
            img{
                height:unset;
                width: 6rem;
                margin: 0.3rem;   
            }
        }
    }
    
    /*Responsive css of project section*/
    .projects{
        margin: 0.5rem;
        .projects__presentation{
            flex-direction: column;
            div{
                margin-inline: unset;
                width: 100%;
                display: flex;
                justify-content: center;
                h2{
                    width: auto;
                    text-align: center;
                    font-size: xx-large;
                }
                p{
                    width: auto;
                    font-size:large;
                    text-align: center;
                    margin: 0.9rem;
                    padding-bottom: 1.2rem;
                    border-bottom: solid;
                    border-color: rgb(187, 187, 187);
                }
            }
            
        }
        .projects__set{
            margin-inline: 1rem;
            display: grid;
            height: 19rem;
            overflow-x: scroll;
            grid-template-columns: 100% ;
            grid-template-rows: min-content min-content min-content min-content;
            grid-template-areas:"project__group" 
                                "project__dele" 
                                "project__movements" 
                                "projects__expresions";
            div{
                width: 100%;
                *{
                    font-size:large;
                }
            }
        }     
    }
    
    /*Responsive css of testimony section*/
    .testimony{
        margin: 0.5rem;
        padding: 0.5rem;
        .testimony__description-title{
            margin: unset;
            margin-top: 1rem;
            padding: unset;
            text-align: center;
            .testimony__description-text{
                text-align: center;
            }
        }
        .testimony__bloques{
            flex-direction: column;
            height: 32rem;
            margin-inline: 0.5rem;
            .testimony__tiatula,
            .testimony__ue_madrid{
                flex-direction: column;
                margin: unset;
            }
            .testimony__tiatula--imagen,
            .testimony__ue_madrid--imagen{
                width: auto;
                height: auto;
                overflow: hidden;
                position: relative;
            }
            .testimony__ue_madrid--picture{
                height: unset;
                width: 100%;
            }
            .testimony__tiatula--picture{
                width: 100%;
            }
            .testimony__tiatula--descriptions,
            .testimony__ue_madrid--descriptions{
                width: 310px;
            }
            .testimony__tiatula--descriptions div,
            .testimony__ue_madrid--descriptions div{
                margin: unset;
            }
            .testimony__ue_madrid--descriptions div div,
            .testimony__tiatula--descriptions div div{
                margin-top: 0.5rem;
            }
            .stars_tiatula img,
            .stars_ue_madrid img{
                height: 1.5rem;
            }
            .testimony__tiatula--autor p,
            .testimony__ue_madrid--autor p{
                margin-inline: unset;
            }
            .testimony__tiatula--course p,
            .testimony__ue_madrid--course p{
                margin-inline: unset;
                margin-bottom: 2rem;
            }
            
        }
    }
    
    
    /*Responsive css of CTA section*/
    .cta{
        padding: 0.5rem;
        .cta__description{
            font-size: 1rem;
            margin: 0.5rem;
            text-align: center;
        }
        .cta__titulo *{
            font-size: 2rem;
        }
        .button_start{
            margin: 1rem;
            a{
                font-size:large;
                width: 100%;
                padding: 0.5rem;
                height: 3rem;
            }
        }
    }

    /********************************/
    /*        about_es.html         */
    /*           - main -           */
    /********************************/
    .about__descriptions--presentation,
    .about__descriptions div {
        margin-inline: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .about__descriptions div div img{
        width: 90%;
        margin: auto;
    }
    .about__descriptions div h1{
        font-size: 2rem;
    }
    
    .about__descriptions div div h2{
        text-align: center;
        margin: auto;
        font-size: 1.5rem;
    }
    .about__descriptions div div p{
        text-align: center;
        font-size: 1rem;
    }
    .about__carrer .about__carrer--title{
        margin-inline: auto;
        text-align: center;
    }

    
}

